{% extends 'bootstrap/base.html' %}
 <!-- entering the navbar -->
{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}
 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Blog </title>
    {% endif %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
     {% block content %}
     {% endblock %}
   </body>
</html>
